.containerFlex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.leftColumn {
  flex: 1 1 300px; /* flexible, min width 300px */
  max-width: 600px;
}

.rightColumn {
  flex: 1 1 300px;
  max-width: 400px;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.highlight {
  color: black;
  font-weight: 900;
  position: relative;
  display: inline-block;
  padding: 0 6px;
  letter-spacing: 0.05em;
}