.link {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.link:hover {
  background: var(--mantine-color-appDeepTeal-0);
  color: var(--mantine-color-appSoftWhite-0);
  transform: translateY(4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.link[data-active] {
  background: var(--mantine-color-appSoftWhite-0);
  color: var(--mantine-color-appTealBlue-0);
}

.icon {
  width: 24px;
  height: 24px;
}
